<%= simple_form_for(@flower_order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer %>
    <%= f.association :flower_product %>
    <%= f.input :amount %>
    <%= f.input :ship_address , hint: '请输入送货地址' %>
    <%= f.input :ship_mobile %>
    <%= f.input :discount  %>
    <%= f.input :bonus  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
