<h3>石榴花园订单</h3>

<p> 本周备货清单：</p >
<ul>
  <% todo = []
  FlowerProduct.all.each do |prd|
    if prd.flower_orders.size > 0
      todo << {prd.name => prd.flower_orders.inject(0){|sum, o| sum + 1 if o.remaining_ships > 0} }
    end
  end
  todo.each {|td| %>
  <li><%=td.to_s %></li>
<% }%>
</ul>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>订单号</th>
      <th>客户</th>
      <th>产品</th>
      <th class="hidden-xs">订购数量</th>
      <th>剩余次数</th>
      <th class="hidden-xs">价格</th>
      <th>收货地址</th>
      <th class="hidden-xs">收货手机</th>
      <th>上次送货时间</th>
      <th class="hidden-xs">奖励次数</th>
      <th >操作</th>
    </tr>
  </thead>

  <tbody>
    <% @flower_orders.each do |flower_order| %>
      <tr>
        <td class="col-xs-1"><p><%= flower_order.id %></p></td>
        <td class="col-xs-1"><p><%= flower_order.customer.name %></p></td>
        <td class='col-xs-2'><%= flower_order.flower_product.short_name %></td>
        <td class="hidden-xs"><%= flower_order.amount %></td>
        <td class='col-xs-2'><%= flower_order.remaining_ships %> / <%=flower_order.total_ships%></td>
        <td class="hidden-xs"><%= flower_order.total_price %></td>
        <td class='col-xs-2'><%= flower_order.ship_address %></td>
        <td class="hidden-xs"><%= flower_order.ship_mobile %></td>
        <td class='col-xs-2'><%= flower_order.last_ship_date %></td>
        <td class="hidden-xs"><%= flower_order.bonus %></td>
        <td class='col-xs-3'><%= link_to '查看', flower_order %>
        <%= link_to '编辑', edit_flower_order_path(flower_order) %>
        <%= link_to '删除', flower_order, method: :delete, data: { confirm: 'Are you sure?' } %>
        <!-- Button trigger modal -->
        <button id="<%=flower_order.id%>" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newShip"> 送货
        </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新订单', new_flower_order_path %>

<%= content_for :page_modal do %>
  <!-- Modal -->
  <div class="modal fade" id="newShip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">新增送货记录</h4>
        </div>
        <%= simple_form_for @flower_ship do |f| %>
          <div class="modal-body">
            <%= f.association :flower_order%>
            <%= f.input :memo %>
            <%= f.input :recieved_date %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.button :submit, :class => 'btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :page_javascript do %>
  <script>
$(".btn-success").click(function(){
  $("#flower_ship_flower_order_id").val($(this).attr("id"));
});
  </script>
<% end %>
