<p id="notice"><%= notice %></p>

<h3>Listing Flower Orders</h3>

<p> 本周送货清单</p >
<ul>
  <% todo = []
  FlowerProduct.all.each{ |prd| todo << {prd.name => FlowerOrder.where(:flower_product_id => prd.id).size} }
todo.each do |td|%>
<li><%=td%></li>
<%end%>
</ul>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>客户</th>
      <th>产品</th>
      <th class="hidden-xs">订购数量</th>
      <th>次数</th>
      <th class="hidden-xs">价格</th>
      <th>收货地址</th>
      <th>收货手机</th>
      <th class="hidden-xs">Bonus</th>
      <th class="hidden-xs">Validate from</th>
      <th class="hidden-xs">Validate to</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @flower_orders.each do |flower_order| %>
      <tr>
        <td><%= flower_order.customer.name %></td>
        <td><%= flower_order.flower_product.name %></td>
        <td class="hidden-xs"><%= flower_order.amount %></td>
        <td><%= flower_order.remaining_ships %> / <%=flower_order.total_ships%></td>
        <td class="hidden-xs"><%= flower_order.total_price %></td>
        <td><%= flower_order.ship_address %></td>
        <td><%= flower_order.ship_mobile %></td>
        <td class="hidden-xs"><%= flower_order.bonus %></td>
        <td class="hidden-xs"><%= flower_order.validate_from %></td>
        <td class="hidden-xs"><%= flower_order.validate_to %></td>
        <td><%= link_to 'Show', flower_order %>
        <%= link_to 'Edit', edit_flower_order_path(flower_order) %>
        <%= link_to 'Destroy', flower_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新订单', new_flower_order_path %>
