<p id="notice"><%= notice %></p>

<h1>Listing Flower Orders</h1>

<p> 本周送货清单</p >
<ul>
  <% todo = []
  FlowerProduct.all.each{ |prd| todo << {prd.name => FlowerOrder.where(:flower_product_id => prd.id).size} }
todo.each do |td|%>
<li><%=td%></li>
<%end%>
</ul>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Flower product</th>
      <th>Amount</th>
      <th>Remaining/Total Ships</th>
      <th>Total price</th>
      <th>Ship address</th>
      <th>Ship mobile</th>
      <th>Bonus</th>
      <th>Validate from</th>
      <th>Validate to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flower_orders.each do |flower_order| %>
      <tr>
        <td><%= flower_order.customer.name %></td>
        <td><%= flower_order.flower_product.name %></td>
        <td><%= flower_order.amount %></td>
        <td><%= flower_order.remaining_ships %> / <%=flower_order.total_ships%></td>
        <td><%= flower_order.total_price %></td>
        <td><%= flower_order.ship_address %></td>
        <td><%= flower_order.ship_mobile %></td>
        <td><%= flower_order.bonus %></td>
        <td><%= flower_order.validate_from %></td>
        <td><%= flower_order.validate_to %></td>
        <td><%= link_to 'Show', flower_order %></td>
        <td><%= link_to 'Edit', edit_flower_order_path(flower_order) %></td>
        <td><%= link_to 'Destroy', flower_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flower order', new_flower_order_path %>
