<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @flower_order.customer.name%>
</p>

<p>
  <strong>Flower product:</strong>
<%= @flower_order.flower_product.name%>
</p>

<p>
  <strong>Amount:</strong>
  <%= @flower_order.amount %>
</p>

<p>
  <strong>总送货次数:</strong>
  <%= @flower_order.total_ships %>
</p>
<p>
  <strong>剩余送货次数:</strong>
  <%= @flower_order.remaining_ships %>
</p>
<p>
  <strong>Discount:</strong>
  <%= @flower_order.discount %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @flower_order.total_price %>
</p>

<p>
  <strong>Ship address:</strong>
  <%= @flower_order.ship_address %>
</p>

<p>
  <strong>Ship mobile:</strong>
  <%= @flower_order.ship_mobile %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @flower_order.bonus %>
</p>

<p>
  <strong>Validate from:</strong>
  <%= @flower_order.validate_from %>
</p>

<p>
  <strong>Validate to:</strong>
  <%= @flower_order.validate_to %>
</p>

<%= link_to 'Edit', edit_flower_order_path(@flower_order) %> |
<%= link_to 'Back', flower_orders_path %>
