<table class="table">
  <thead>
    <tr>
      <th>产品</th>
      <th>价格</th>
      <th class="hidden-xs">描述</th>
      <th class="hidden-xs">版本</th>
      <th class="hidden-xs">新品？</th>
      <th class="hidden-xs">人气？</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @version.products.each do |product| %>
      <tr>
        <td><%= product.long_name %></td>
        <td><%= product.price %></td>
        <td class="hidden-xs"><%= product.description %></td>
        <td class="hidden-xs"><%= product.version.id %></td>
        <td class="hidden-xs"><%= product.isNew %></td>
        <td class="hidden-xs"><%= product.isHot %></td>
        <td><%= link_to '编辑', edit_product_path(product) if product.version.status==0   %></td>
        <td><%= link_to '删除', product, method: :delete, data: { confirm: 'Are you sure?' }if product.version.status==0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to '新建产品', new_product_path if @version.status ==0 %>
</p>


