<%= form_for(@user_activity) do |f| %>
  <% if @user_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_activity.errors.count, "error") %> prohibited this user_activity from being saved:</h2>

      <ul>
      <% @user_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%  @user_activity.discount = 1 if @user_activity.discount == nil %>

     <div class="field">
    <%= f.hidden_field :customer_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :act_type %>
  </div>

  <div class="field">
    <%= f.label "活动类型" %><br>
    <%= f.text_field :type_name, readonly:true %>
  </div>
  <%# 充值 %>
  <% if @user_activity.act_type == 0 %>

<div class="field">
    <%= f.label "金额" %><br>
    <%= f.text_field :amount %>
  </div>



  <%# 消费%>
    <% elsif @user_activity.act_type == 1 ||  @user_activity.act_type ==2 %>
<div class="field">
    <%= f.label "相关产品" %><br>
    <%= f.collection_select :product_id, Product.current_list,:id,:name %>
  </div>

  <div class="field">
    <%= f.label "数量"%><br>
    <%= f.text_field :count %>
  </div>
<div class="field">
    <%= f.label "金额" %><br>
    <%= f.text_field :amount %>
  </div>
 <div class="field">
    <%= f.label "折扣"%><br>
    <%= f.text_field :discount%>
  </div>
<% end %>

<div class="field">
    <%= f.label "备注" %><br>
    <%= f.text_field :comments %>
  </div>

    <div class="field">
    <%= f.label "日期" %><br>
    <%= f.date_select :act_date %>
  </div>
      <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
