<%= form_for(@customer,html: {class: 'form-horizontal'}) do |f| %>

  <% if @customer.errors.any? %>
    <div class='row'>
      <div id="error_explanation" class='col-xs-12'>
        <h2 class="text-danger"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name,  "名字", class:'col-xs-3 col-md-2 control-label'%>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field :name,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nick_name,  "昵称" , class: 'col-xs-3 col-md-2 control-label'%>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field :nick_name,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :weixin_id,  "微信号", class: 'col-xs-3 col-md-2 control-label' %>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field :weixin_id,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :mobile_number,  "手机号", class: 'col-xs-3 col-md-2 control-label' %>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field :mobile_number,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_member,  "会员?", class: 'col-xs-3 col-md-2 control-label' %>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field :is_member,readonly:true,class: 'form-control'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label  :description,"备注", class: 'col-xs-3 col-md-2 control-label' %>
    <div class="col-xs-9 col-md-4">
      <%= f.text_field  :description,class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "保存", class: "btn btn-success" %>
      <%= link_to '返回', customers_path , class: "btn btn-default" %>
    </div>
 </div>
<% end %>
