<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nick name</th>
      <th>Weixin</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.nick_name %></td>
        <td><%= customer.weixin_id %></td>
        <td><%= customer.description %></td>
        <td><%= link_to '会员活动报告', customer %></td>
        <td><%= link_to '编辑', edit_customer_path(customer) %></td>
        <td><%= link_to '删除客户', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to '新增会员活动', new_user_activity_path(customer.id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
