
<%= link_to  new_customer_path, class: 'btn btn-success' do %>
<i class="glyphicon glyphicon-plus"></i> 新增客户
<% end %>


<table class="table table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>姓名</th>
      <th>昵称</th>
      <th>手机号</th>
      <th>微信号</th>
      <th>是否会员</th>
      <th colspan="5">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <% if customer.user_activities.empty? %>

        <tr class="warning">
        <% else %>

          <tr>
          <% end %>
          <td><%= customer.name %></td>
          <td><%= customer.nick_name %></td>
          <td><%= customer.mobile_number%></td>
          <td><%= customer.weixin_id%></td>
          <td><%= customer.is_member%></td>
          <td><%= link_to '活动报告', customer , class: 'btn btn-info btn-sm'%></td>
          <td><%= link_to '编辑客户', edit_customer_path(customer) , class: 'btn btn-warning btn-sm'%></td>

            <td><%= link_to '充值', new_user_activity_path(customer_id: customer.id,act_type:0) , class: 'btn btn-success btn-sm' %></td>
          <% if customer.is_member %>

            <td><%= link_to '会员消费', new_user_activity_path(customer_id: customer.id,act_type:1 ), class: 'btn btn-success btn-sm'%></td>
          <% else %>

            <td><%= link_to '删除客户', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' if customer.user_activities.empty? %></td>
          <% end %>
          </tr>
        <% end %>
  </tbody>
</table>
<br>

