<%= link_to  new_customer_path, class: 'btn btn-success btn-block' do %>
  <i class="glyphicon glyphicon-plus"></i> 新增客户
<% end %>

<table class="table table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>姓名</th>
      <th class="hidden-xs">昵称</th>
      <th>手机号</th>
      <th class="hidden-xs">微信号</th>
      <th class="hidden-xs">余额</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <% if customer.user_activities.empty? %>

        <tr>
        <% else %>

          <tr>
          <% end %>
          <td><%= link_to customer do %>
            <%if customer.is_member %>
              <i class="glyphicon glyphicon-star"></i>
            <%else%>
              <i class="glyphicon glyphicon-star-empty"></i>
            <%end%>
              <%=customer.name%> <% end %></td>
          <td class="hidden-xs"><%= customer.nick_name %></td>
          <td><%= customer.mobile_number%></td>
          <td class="hidden-xs"><%= customer.weixin_id%></td>
          <td class="hidden-xs"><%= customer.balance%></td>

          <td><%= link_to new_user_activity_path(customer_id: customer.id,act_type:0) , class: 'btn btn-sm' do %> <i class="glyphicon glyphicon-user"></i>充值<% end %></td>
          <td><%= link_to  new_user_activity_path(customer_id: customer.id,act_type:2 ), class: 'btn btn-sm' do %> <i class="glyphicon glyphicon-glass"></i>现金消费<% end %></td>
          <% if customer.is_member %>

            <td><%= link_to  new_user_activity_path(customer_id: customer.id,act_type:1 ), class: 'btn btn-sm' do %> <i class="glyphicon glyphicon-credit-card"></i>会员消费<% end %></td>
          <% else %>

            <td><%= link_to customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm'   do %> <i class="glyphicon glyphicon-trash"></i>删除客户<% end if customer.user_activities.empty?%></td>
          <% end %>
          </tr>
        <% end %>
  </tbody>
</table>
