<div class="row" style="width: 600px; padding: 10,10,10,10;">
  <div class="col-xs-12">

    <pre style="background-color:#fff; border:0; color: green; font-size: 20px;" >

      在一起，消磨最美好的时光。
      感谢光临葡萄院儿  the Vineyard！
      如有疑问，请拨打18181993242.
    </pre>

  </div>

  <h3 class="text-center"><%= @customer.name %>的帐单</h3>
  <% if @customer.user_activities.empty? %>
    还没有消费记录
  <%else %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div  class="panel panel-default panel-success">

        <p style="padding-top:10px ;padding-right:20px" class="text-right"><strong>当前余额: </strong><%= @customer.balance.to_s('F') %> 元</p>
        <% UserActivity.unscoped.select(:act_date).distinct.where(:customer=>@customer.id).order(act_date: :desc).each_with_index do |ua_list,i|  %>
          <div class="panel-heading " role="tab" id="heading<%=ua_list.act_date%>">
              <div class="row">
                <div class="col-md-9">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=ua_list.act_date%>" aria-expanded=<%= i==1? '"true"':'"false"'%> aria-controls="collapse<%=ua_list.act_date%>">
                <%=ua_list.act_date%>
              </a>
            </h4>
                </div>
                <div class="col-md-3">
                  <span class="text-right ">会员消费: <%= UserActivity.unscoped.where(act_date: ua_list.act_date, customer_id: @customer.id,act_type:1).sum(:amount) %> 元</span>
                </div>
                </div>
          </div>
          <div id="collapse<%=ua_list.act_date%>" class="panel-collapse collapse  <%='in' if i==0%>" role="tabpanel" aria-labelledby="heading<%=ua_list.act_date%>">
            <ul style="margin-bottom:0" class="list-group">
              <%UserActivity.select(:item_desc,:comments).where(customer:@customer.id,act_date:ua_list.act_date).each do |ua_desc| %>
                <li class="list-group-item"><%=ua_desc.item_desc%></li>
              <% end %>
            </ul>
          </div>
        <%end%>
      </div>
    </div>

  <%end%>
