<div class="row">
  <div class="col-xs-6">
    <p>
    <strong>名字:</strong>
    <%= collection_select :customer, :id, Customer.all,:id,:name,{},{:onchange => "window.location='"+root_path+"/customers/'+this.value"}%>
    </p>
    <p>
    <strong>手机号:</strong>
    <%= @customer.mobile_number %>
    </p>
    <p>
    <strong>微信号:</strong>
    <%= @customer.weixin_id%>
    </p>
  <p>
  <strong>当前余额:</strong>
  <%= @customer.balance.to_s('F')   %>
  </p>

     </div>
  <div class="col-xs-6">
    <p>
    <strong>昵称:</strong>
    <%= @customer.nick_name %>
    </p>
    <p>
    <strong>是否会员:</strong>
    <%= @customer.is_member %>
    </p>
    <p>
    <strong>加入日期:</strong>
    <%= @customer.created_at.localtime.strftime("%Y/%m/%d") %>
    </p>

    <p>
    <strong>备注:</strong>
    <%= @customer.description %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
 <%= link_to '编辑会员', edit_customer_path(@customer) , class: 'btn btn-warning btn-sm btn-block'   %>
  </div>
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
    <%= link_to '返回会员列表', customers_path , class: 'btn btn-info btn-sm btn-block'  %>
  </div>
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
<%= link_to '打印客户报告',report_customer_path(@customer) , class: 'btn btn-info btn-sm btn-block'  , :target => "_blank"  %>
  </div>
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
<%= link_to new_user_activity_path(act_type: 0,customer_id: @customer.id), class: 'btn btn-success btn-sm btn-block'  do %> <i class="glyphicon glyphicon-plus"></i> 充值<% end %>
  </div>
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
<% if @customer.is_member  %>
  <%= link_to  new_user_activity_path(act_type: 1,customer_id: @customer.id), class: 'btn btn-success btn-sm btn-block' do %> <i class="glyphicon glyphicon-plus"></i> 会员消费<% end %>
<% end%>
  </div>
  <div class="col-xs-6 col-sm-2" style="margin-bottom:5;">
<%= link_to  new_user_activity_path(act_type: 2,customer_id: @customer.id), class: 'btn btn-success btn-sm btn-block' do %> <i class="glyphicon glyphicon-plus"></i> 非会员消费<% end %>
  </div>
</div>

<h3 class="text-center">消费记录</h3>

<% if @customer.user_activities.empty? %>
  还没有消费记录
<%else %>

  <%  user_activities = @customer.user_activities.order('act_type') %>
  <%= render "act_list" %>

 <%end%>
<br>
