<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @customer.nick_name %>
</p>

<p>
  <strong>Weixin:</strong>
  <%= @customer.weixin_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
