<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @customer.nick_name %>
</p>

<p>
  <strong>Weixin:</strong>
  <%= @customer.weixin_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

<p id="notice"><%= notice %></p>

<h1>Listing User Activities</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Item desc</th>
      <th>Act date</th>
      <th>Amount</th>
      <th>Discount</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.user_activities.each do |user_activity| %>
      <tr>
        <td><%= user_activity.customer.name %></td>
        <td><%= user_activity.product.name %></td>
        <td><%= user_activity.item_desc %></td>
        <td><%= user_activity.act_date %></td>
        <td><%= user_activity.amount %></td>
        <td><%= user_activity.discount %></td>
        <td><%= user_activity.comments %></td>
        <td><%= link_to 'Show', user_activity %></td>
        <td><%= link_to 'Edit', edit_user_activity_path(user_activity) %></td>
        <td><%= link_to 'Destroy', user_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User activity', new_user_activity_path %>

