<p id="notice"><%= notice %></p>

<p>
  <strong>名字:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>昵称:</strong>
  <%= @customer.nick_name %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @customer.mobile_number %>
</p>
<p>
  <strong>是否会员:</strong>
  <%= @customer.is_member %>
</p>
<p>
  <strong>创建日期:</strong>
  <%= @customer.created_at %>
</p>

<p>
  <strong>备注:</strong>
  <%= @customer.description %>
</p>

<%= link_to '编辑', edit_customer_path(@customer) %> |
<%= link_to '返回列表', customers_path %>

<p id="notice"><%= notice %></p>

<h3>活动记录列表</h3>


<% if @customer.user_activities.empty? %>
还没有消费记录
<%else %>

<%  user_activities = @customer.user_activities %>
<%= render "act_list" %>

<%end%>
<br>

<%= link_to 'New User activity', new_user_activity_path %>
