<p id="notice"><%= notice %></p>

<h1>菜单管理</h1>

<p>只有草稿状态才能编辑产品明细，发布后的菜单无法修改，这样才能保存会员消费的历史记录</p>

<table>
  <thead>
    <tr>
      <th>菜单版本号</th>
      <th>描述</th>
      <th>版本状态</th>
      <th>启用时间</th>
      <th>停用时间</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.id%></td>
        <td><%= version.description %></td>
        <td><%= version.status_name%></td>
        <td><%= version.validate_from %></td>
        <td><%= version.validate_to %></td>
        <td><%= link_to '查看', version %></td>
        <td><%=link_to '编辑', edit_version_path(version)   if version.status == 0  %></td>
        <td>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

        <%= link_to '发布新版本' ,versions_publish_path, data: { confirm: '请确认发布新版本菜单！' } %>
