<p id="notice"><%= notice %></p>
<p>
  <strong>菜单ID:</strong>
  <%= @version.id %>
</p>
<p>
  <strong>当前状态:</strong>
  <%= @version.status_name %>
</p>

<p>
  <strong>启用时间：</strong>
  <%= @version.validate_from %>
</p>

<p>
  <strong>停用时间:</strong>
  <%= @version.validate_to %>
</p>

<p>
  <strong>发布人:</strong>
  <%= @version.id %>
</p>

<p>
  <strong>版本描述:</strong>
  <%= @version.description %>
</p>
<%= render 'subform'%>

<%= link_to 'Back', versions_path %>
