<p id="notice"><%= notice %></p>


 <div class="row">
    <div class="col-xs-6">
<p>
  <strong>菜单ID:</strong>
  <%= @version.id %>
</p>
<p>
  <strong>当前状态:</strong>
  <%= @version.status_name %>
</p>

<p>
  <strong>版本描述:</strong>
  <%= @version.description %>
</p>

    </div>
     <div class="col-xs-6">
<p>
  <strong>启用时间:</strong>
  <%= @version.validate_from.localtime.strftime('%y/%m/%d %H:%m')  if @version.validate_from!=nil %>
</p>

<p>
  <strong>停用时间:</strong>
  <%= @version.validate_to.localtime.strftime('%y/%m/%d %H:%m') if @version.validate_to!=nil  %>
</p>


    </div>

  </div>


<%= render 'subform'%>

<%= link_to '返回', versions_path %>
<%= link_to '打印页面', versions_path %>
