<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html lang="zh-CN">
<html>
  <head>
    <title> 葡萄院儿管理系统</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="main-container" class="container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <h3>欢迎来到葡萄院儿！<small>这里是后台管理系统</small></h3>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li class=<%= 'active' if current_page?(customers_path) %>>
                <%= link_to "客户管理", '/customers' %>
              </li>
              <li class=<%= 'active' if current_page?(versions_path) %>>
                <%= link_to "菜单管理", '/versions' %>
              </li>
              <li class=<%= 'active' if current_page?(catagories_path) %>>
                <%= link_to "产品类别", '/catagories' %>
              </li>
            </ul>


            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end -%>
            <%= yield %>
          </div>

        </div>
      </div>

  </body>
</html>

