<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html lang="zh-CN">
<html>
  <head>
    <title> 葡萄院儿管理系统</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h3 class="text-center">欢迎来到葡萄院儿管理系统！</h3>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
          <nav class="navbar nav-tabs" style="margin-bottom:0">
              <ul class="nav nav-pills " role="tablist">
                <li class=<%= 'active' if current_page?(customers_path) %>>
                  <%= link_to "客户管理", customers_path %>
                </li>
                <li class=<%= 'active' if current_page?(versions_path) %>>
                  <%= link_to "菜单管理", versions_path %>
                </li>
                <li class=<%= 'active' if current_page?(catagories_path) %>>
                  <%= link_to "产品类别", catagories_path %>
                </li>
                <li class=<%= 'active' if current_page?(reports_ua_report_path) %>>
                  <%= link_to "经营报告", reports_ua_report_path %>
                </li>
              </ul>
          </nav>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

